/* limpando configurações iniciais */
body{
    margin: 0;
    padding-top: 80px; /* espaço para o header*/
    padding-left: 96px; /* espaço para o sidebar*/
    padding-right: 24px; /* espaçamento para os videos */
    background-color: rgb(248, 248, 248);
    margin-bottom: 40px;
}

p{
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

